.error{
  .tips-picture{
    width: 41.06vw;
    height: 35.86vw;
    margin: auto;
    background: url('../../images/fault.png') no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 5.6vw;
    margin-top: 13.6vw;
  }
  .h-text{
    font-size: 3.73vw;
    color:  #e5e5e5;
    text-align: center;
    line-height: 1em;
    font-weight: normal;
    span{
      font-size: 4.53vw;
      color: #f14c81;
      font-weight: bold;
    }
    .takeback{
      color: #e5e5e5;
      font-size: 3.73vw;
      border-bottom: 1px solid #e5e5e5;
      font-weight: normal;
    }
  }

}