.bg{
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
.tips-box{
  width: 40vw;
	height: 32.53vw;
	background-color: #f0f0f0;
  border-radius: 2.66vw;
  position: absolute;
  left: 30vw;
  top: 60vw;
  .check-icon{
    background: url('../../images/check.png')no-repeat center;
    background-size: 100% 100%;
    width: 9.06vw;
    height: 9vw;
    margin: 0 auto;
    margin-top: 6.66vw;
  }
  h3{
    font-size: 3.73vw;
    font-weight: normal;
    text-align: center;
    color: #555;
    line-height: 0.5em;
  }
}