.App{
  box-sizing: border-box;
  font-family: PINGPANG;
  
}
@font-face {
  font-family: PINGPANG;
  src: url('./assets/font/pingfang.ttf');
}

input{
  background:none;  
	outline:none;  
  border:0px;
}
input::-webkit-input-placeholder{
  color:#999;
  font-size: 3.73vw;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#999;
  font-size: 3.73vw;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#999;
  font-size: 3.73vw;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color:#999;
  font-size: 3.73vw;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
